
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>general_sensors.yaml</title>
            <link rel="stylesheet" id="dynamic-styles">
            <link rel="icon" id="dynamic-favicon">
        </head>
        <body>
            <div class="fixed-header">
                <h1>Viewing: general_sensors.yaml</h1>
            </div>
            <div class="scrollable-content">
                <pre class="yaml-content">- platform: template
  sensors:
    network_scanner_devices_list:
      friendly_name: &quot;Network Scanner Devices List&quot;
      unique_id: &quot;network_scanner_devices_list_sensor&quot;
      unit_of_measurement: &quot;devices&quot;
      value_template: &gt;
        {% set devices = state_attr(&#x27;sensor.network_scanner&#x27;, &#x27;devices&#x27;) %}
        {{ devices | count if devices else 0 }}
      attribute_templates:
        devices: &gt;
          {% set devices = state_attr(&#x27;sensor.network_scanner&#x27;, &#x27;devices&#x27;) %}
          {% if devices %}
          {% set sorted = devices | sort(attribute=&#x27;vendor&#x27;, case_sensitive=False) %}
          {% for d in sorted %}
          IP: {{ d.ip.ljust(13) }} | MAC: {{ d.mac.ljust(17) }}  Vendor: {{ d.vendor or &#x27;Unknown&#x27; }}
          .....................................................................
          {%- endfor %}
          {% else %}
            No devices found
          {% endif %}
      icon_template: &quot;mdi:lan-connect&quot;

    air_purifier_lifetime:
      friendly_name: &quot;Air Purifier Filter Life&quot;
      unique_id: &quot;air_purifier_filter_life_sensor&quot;
      value_template: &quot;{{ states(&#x27;sensor.air_purifier_filter_lifetime&#x27;) }}&quot;
      unit_of_measurement: &quot;%&quot;
      icon_template: &quot;{{ &#x27;mdi:air-filter&#x27; }}&quot;

    air_purifier_speed:
      friendly_name: &quot;Air Purifier Fan Speed&quot;
      unique_id: &quot;air_purifier_fan_speed_sensor&quot;
      unit_of_measurement: &quot;%&quot;
      value_template: &gt;
        {% set state = states(&#x27;fan.air_purifier&#x27;) %}
        {% set speed = state_attr(&#x27;fan.air_purifier&#x27;, &#x27;percentage&#x27;) %}
        {% if speed in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          Offline
        {% elif state == &#x27;off&#x27; %}
          Off
        {% else %}
          {{ speed }}
        {% endif %}
      icon_template: &gt;
        {% set state = states(&#x27;fan.air_purifier&#x27;) %}
        {% if state == &#x27;off&#x27; or state_attr(&#x27;fan.air_purifier&#x27;, &#x27;percentage&#x27;) in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          mdi:fan-off
        {% else %}
          mdi:fan
        {% endif %}

    previous_bathroom_humidity:
      friendly_name: &quot;Previous Bathroom Humidity&quot;
      unique_id: &quot;previous_bathroom_humidity_sensor&quot;
      icon_template: &quot;{{ &#x27;mdi:water-percent&#x27; }}&quot;
      value_template: &gt;
        {% set previous_humidity = states(&#x27;input_number.previous_bathroom_humidity&#x27;) %}
        {% if previous_humidity not in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          {{ &quot;{:.2f}&quot;.format(previous_humidity | float) }}%
        {% else %}
          Unknown
        {% endif %}

    next_bin_collection:
      friendly_name: &quot;Next Bin Collection&quot;
      unique_id: &quot;next_bin_collection_sensor&quot;
      icon_template: &quot;{{ &#x27;mdi:trash-can&#x27; }}&quot;
      value_template: &gt;
        {% set bin = states(&#x27;input_text.bin_collection_type&#x27;) %}
        {% if bin not in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          {{ bin }}
        {% else %}
          Unknown
        {% endif %}

    lucifer_activewindow_filtered:
      friendly_name: &quot;Active Window&quot;
      unique_id: &quot;lucifer_activewindow_filtered_sensor&quot;
      icon_template: &quot;mdi:monitor-eye&quot;
      value_template: &gt;
        {% set value = states(&#x27;sensor.lucifer_activewindow&#x27;) %}
        {% if &#x27;Brave&#x27; in value %}
          Brave
        {% elif &#x27;Chrome&#x27; in value %}
          Chrome
        {% elif &#x27;Edge&#x27; in value %}
          Edge
        {% elif &#x27;Firefox&#x27; in value %}
          Firefox
        {% elif value in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          Off
        {% else %}
          {{ value }}
        {% endif %}

    datamars_activewindow_filtered:
      friendly_name: &quot;Datamars Active Window&quot;
      unique_id: &quot;datamars_activewindow_filtered_sensor&quot;
      icon_template: &quot;mdi:monitor-eye&quot;
      value_template: &gt;
        {% set value = states(&#x27;sensor.datamars_activewindow&#x27;) %}
        {% if value in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          Off
        {% else %}
          {{ value }}
        {% endif %}

    activewindow_filtered:
      friendly_name: &quot;Active Window&quot;
      unique_id: &quot;activewindow_filtered_sensor&quot;
      icon_template: &quot;mdi:monitor-eye&quot;
      value_template: &gt;
        {% set lucifer_value = states(&#x27;sensor.lucifer_activewindow&#x27;) %}
        {% set datamars_value = states(&#x27;sensor.datamars_activewindow&#x27;) %}

        {% if lucifer_value not in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          {% if &#x27;Brave&#x27; in lucifer_value %}
            Brave (Lucifer)
          {% elif &#x27;Chrome&#x27; in lucifer_value %}
            Chrome (Lucifer)
          {% elif &#x27;Edge&#x27; in lucifer_value %}
            Edge (Lucifer)
          {% elif &#x27;Firefox&#x27; in lucifer_value %}
            Firefox (Lucifer)
          {% else %}
            {{ lucifer_value }} (Lucifer)
          {% endif %}
        {% elif datamars_value not in [&#x27;unknown&#x27;, &#x27;unavailable&#x27;] %}
          {% if &#x27;Brave&#x27; in datamars_value %}
            Brave (Datamars)
          {% elif &#x27;Chrome&#x27; in datamars_value %}
            Chrome (Datamars)
          {% elif &#x27;Edge&#x27; in datamars_value %}
            Edge (Datamars)
          {% elif &#x27;Firefox&#x27; in datamars_value %}
            Firefox (Datamars)
          {% elif &#x27;Teams&#x27; in datamars_value %}
            Teams (Datamars)
          {% elif &#x27;Outlook&#x27; in datamars_value %}
            Outlook (Datamars)
          {% else %}
            {{ datamars_value }} (Datamars)
          {% endif %}
        {% else %}
          Off
        {% endif %}

    total_sensors_count:
      friendly_name: &quot;Total Sensors&quot;
      unique_id: &quot;total_sensors_count_sensor&quot;
      icon_template: &quot;mdi:counter&quot;
      unit_of_measurement: &quot;sensors&quot;
      value_template: &gt;
        {{ states | length }}

    work_plug_state_sensor:
      friendly_name: &quot;Work Plug State&quot;
      value_template: &gt;
        {{ states(&#x27;input_text.work_plug_state&#x27;) }}
      icon_template: &gt;
        {% if states(&#x27;input_text.work_plug_state&#x27;) == &quot;On&quot; %}
          mdi:power-plug
        {% elif states(&#x27;input_text.work_plug_state&#x27;) == &quot;Off&quot; %}
          mdi:power-plug-off
        {% else %}
          mdi:alert
        {% endif %}


</pre>
            </div>
            <script>
                (function fixPaths() {
                    // ✅ If inside yaml_previews, use "../assets/", otherwise use "assets/"
                    var basePath = window.location.pathname.includes("/yaml_previews/") ? "../assets/" : "assets/";

                    // ✅ Apply correct asset paths
                    document.getElementById("dynamic-styles").href = basePath + "table-styles.css";
                    document.getElementById("dynamic-favicon").href = basePath + "favicon.ico";

                    var script = document.createElement("script");
                    script.src = basePath + "table-functions.js";
                    document.body.appendChild(script);
                })();
            </script>
        </body>
        </html>
        